h1, h2, h3, h4, h5, h6, p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #181313;
}

.momentum-place {
  width: 100%;
  text-align: center;
}

.momentum-msg {
  background-color: #ddff99;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#map {
  width: 350px;
  height: 150px;
  margin: auto;
  margin-bottom: 20px;
}

.momentum-place-list {
  text-align: center;
}

.momentum-welcome-container {
  margin-top: 50px;
}

.momentum-candidate {
  margin-top: 15px;
  margin-bottom: 15px;
}

.momentum-space {
  padding: 10px;
}

.momentum-vote-ui {
  margin-top: 45px;
  margin-bottom: 45px;
  text-align: center;
}

.momentum-nav-container {
  position: absolute;
  top: 10px;
  right: 15px;
}

.momentum-deactive {
  color: #DDD;
  cursor: not-allowed;
}

.momentum-link {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  display: inline;
}

.momentum-status {
  color: #8c0210;
}

.momentum-place {
  color: #BFE017;
}

.momentum-time {
  color: #db8605;
}

.momentum-eat {
  color: #063f2c;
}

.momentum-drink {
  color: #0a694a;
}
<<<<<<< HEAD
=======

.momentum-explore {
  color: #539680;
}

.momentum-party {
  color: #9dc3b6;
}
>>>>>>> 6187c00ba53456819fdce2eb6e81dadc3979600f
