.momentum-deactive {
  color: gray;
}

.momentum-link {
  text-decoration: underline;
  cursor: pointer;
}

.momentum-status {
  color: green;
}

.momentum-place {
  color: blue;
}

.momentum-time {
  color: red;
}

.momentum-intention {
  color: yellow;
}