.momentum-logo {
  font-size: 5rem;
}

.momentum-candidate {
  margin-bottom: 15px;
}

.momentum-space {
  padding: 10px;
}

.momentum-vote-ui {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
}

.momentum-nav-container {
  position: absolute;
  top: 10px;
  right: 15px;
}

.momentum-deactive {
  color: gray;
  cursor: not-allowed;
}

.momentum-link {
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
  display: inline;
}

.momentum-status {
  color: green;
}

.momentum-place {
  color: blue;
}

.momentum-time {
  color: red;
}

.momentum-intention {
  color: yellow;
}